h3 {
  margin-left: 20px;
}

.grid-container {
  display: flex;
  margin: 5%;
  display:flex;
  position: relative;
  gap: 5%;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
}

#p1 {
margin-top: -20px;
margin-bottom: -35px;
margin-left: 7%;
font-weight: 500;
font-size: 25px;
}

.card {
  width: 20em;
  border-style: double;
  border-width: 5px;
  border-radius: 10%;
  border-color: black;
  background-color:darksalmon;
  color: black;
}

.card button {
  border-radius: 10px;
  text-align: center;
  width: 130px;
  margin-bottom: 4px;
  margin-left: 14px;
}

.card #btn1 {
margin-left: 0px;
width: 180px;
/* background-color: transparent; */
}

/* .card #btn1:hover {
background: #8F7CEC;
color: #fff;
box-shadow: 0 0 5px #8F7CEC, 0 0 10px #8F7CEC, 0 0 15px #8F7CEC, 0 0 20px #8F7CEC;
} */

.input-group {
height: 55px;
}

#search button {
width: 80px;
margin-left: 4px;
}

#search input {
border-radius: 10px;
}

.card .cardButton {
  position: relative;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  border-style: hidden;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  /* display: none; */
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  text-align: center;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}