p {
  text-align: center;
  font-size: 25px;
}

h1{
    font-size: 190%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;    
}

.body {
    background-color: lightblue;
  }


form {

    text-align: center;

} 

div{
    text-align: center;
}

h1{
  font-size: 190%;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;    
}

form {

  text-align: center;

} 

div{
  text-align: center;
}

#description {
width: 320px;
padding: 10px;
border: 5px solid gray;
margin: 0; 

}

