<div class="body">

  <form >


    <h1> Create New Reimbursement Request</h1>

    <label for="amount">Amount:</label><br>
    <input type=”number” [(ngModel)]="amount"><br>

    <br>
    <br>

    <div>

      <label for="description">Description:</label><br>
      <input type="text" id="description" style="width: 300px; height: 100px;" [(ngModel)]="description"><br>
    </div>

    <div>
      <label for="type">Reimbursement Type:</label>
      <input type="radio" id="travel" name="Reimbursement Type" value="Travel" [(ngModel)]="type">
      <label for="travel">TRAVEL</label>
      <input type="radio" id="food" name="Reimbursement Type" value="Food" [(ngModel)]="type">
      <label for="food">FOOD</label>
      <input type="radio" id="lodge" name="Reimbursement Type" value="Lodge" [(ngModel)]="type">
      <label for="lodge">LODGE</label>
      <input type="radio" id="other" name="Reimbursement Type" value="Other" [(ngModel)]="type">
      <label for="other">OTHER</label>
    </div>

    <br>
    <br>
    <div>

      <input type="submit" id="submit" name="Reimbursement Type" value="Submit" (click)="submitFunction()">
      <input type="reset" id="resetForm" name="Reset Form" value="Reset Form">
      <p>{{submitMessage}}</p>
    </div>

  </form>

</div>