<!--* title N.R.M. Support -->
<div class="login-box">
    <h2>Welcome To N.R.M.</h2>
    <h2>{{message}}</h2>
    <div>
        <div class="user-box">
            <input type="text" class="input" [(ngModel)]="user.username">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" [(ngModel)]="user.password">
            <label>Password</label>
        </div>
        <div [hidden]="invalidCred">
            <h4 style="color: red; text-align: center;">Could Not Find Account!</h4>
        </div>
        <div class="button-form">
            <a id="submit" (click)="submitData()">Login</a>
            <a id="submit" routerLink="/register">Register</a>
        </div>
    </div>
</div>
