<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between">
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a  routerLink="">
                    <img src="../../../assets/lion-logopng-33408.png" alt="Home" (click)="logOut()">
                </a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" routerLink="user">Users</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" routerLink="register">Register</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" routerLink="reimbursements">Create Reimbursements</a>
            </li>
        </ul>
    </div>
</nav>